body {
    
    font-family: Arial, sans-serif;
    /*background-color: linear-gradient(to bottom, #3498db, #1abc9c);
    animation: fadeBackground 8s infinite alternate;*/
    background-color:peru; 
    
}
#min_heading {
    color: navajowhite;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 20px;
    
}
#stycke1 {
    color: navajowhite;
    margin-left: 20px;
    margin-right: 20px;
}

.center_div {
    width: auto;
    display: inline-block;
    background-color:navajowhite;
    border-radius: 10px;
    position: relative;
    /*top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    /*text-align: left;*/
    padding: 14px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}



p {
    color: #555;
}

input {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    
}

#glos_svar {
    display: inline-block;
}
#butt_reload {
    margin: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
}


