body{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

.main{
    width: 300px; /* or any other width you want */
    margin: 0 auto; /* this will center the div horizontally */
    text-align: center;
    
}

p{
    font-weight: bold;
}

#plus{
    margin-left: 40px;
}

button{
    width: 60px;
    padding: 10px;
    margin: 10px;
}

h3{
    margin-left: 40px;
    margin-top: 100px;
}

/*#taltext{
    margin-left: 40px;
}*/

.texttal{
    margin-left: 40px;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
}