body{
    background-color: coral;
    font-family: 'Raleway', sans-serif;
}
.main {
    background-color: aqua;
    width: 200px;
}
p{
    padding: 40px;


}
button{
    width: 60px;
    padding-top: 10px;
    padding-bottom: 10px;

}