body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #ffffff, #e655de);
  }

  div{
    margin: 20px;
  }

  .div_main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 500px;
    height: 500px;
    border-radius: 20px;

  }

  .inner_div{
    margin: 30px;
  }

  h2{
    text-align: center;
  }

  input{
  
    margin-top: 20px;
    
  }
  