
body{
    background-color: black;
    color: green;
    font-family: 'Arial Narrow', Arial, sans-serif

}
button{
    background-color: dimgray;
    border-color: green;
    
}

h2{
    text-decoration: underline;
}

div.outer {
    /*width: 80%;*/
    padding: 10%;
}

.inner {
    
    width: 400px;;
    width: 80%;
    background-color: black;
}

.span_left {
    
    display: inline-block;
    background-color: black;

}
.div_span_left_top{
   
    position: fixed;
    right:0;
	top:0;

}

.span_right {
    display: inline-block;
    background-color: black;
    margin-left: 40px;    
}

input {
    margin-bottom: 10px;
    margin-left: 20px;
}
.add_butt{
    margin-left: 20px;
}

.svaret{
    background-color: black;
    width: auto;
    margin-left: 20px;
}

.rensa_butt{
    margin-left: 20px;
}
hr{
    border-color: green;
}
